body{
	margin: 0 auto;
	width: 960px;
	background-color: #EEE;
}

.title{
	display: inline-block;
	width: 20%;
}

.title-link{
	display: inline-block;
	border-left: 1px solid #AAA;
	padding-left: 10px;
}

.title-link a{
	color: #AAA;
}

img{
	display: block;
	height: 300px;
	width: 300px;
}

/*---------------------------------------------------*/

.main-content{
	float: left;
	width: 45%;
	height: 200px;
	margin: 3% 1%;
	background-color: #FFF;
	border: 2px solid #BBB;
	/*box-shadow: 3px 3px 1px #BBB;*/
	padding: 10px;
	overflow: hidden;
}

.col-left{
	margin-left: 0;
}

.main-content h2{
	border-bottom: 1px solid #BBB;
}


.text-container{

	width: 100%;
}

textarea{
	height: 100%;
	width: 100%;
}